[workspace]
members = ["macros"]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"

[package]
name = "wgame"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
wgame-macros = { version = "0.1.0", path = "macros" }
futures = { version = "0.3.31", default-features = false, features = ["std"] }
fxhash = "0.2.1"
winit = "0.30.11"
log = "0.4.27"
thiserror = "2.0.12"
pin-project = "1.1.10"

[dev-dependencies]
futures = "0.3.31"
env_logger = "0.11.8"
