[workspace]
members = ["wgame-common", "wgame-app", "wgame-utils", "wgame-macros"]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"

[package]
name = "wgame"
version.workspace = true
edition.workspace = true
license.workspace = true

[workspace.dependencies]
wgame-common = { version = "0.1.0", path = "wgame-common" }
futures = { version = "0.3.31", default-features = false, features = ["std"] }
winit = { version = "0.30.11", default-features = false }
wgpu = { version = "25.0.2", default-features = false }
fxhash = "0.2.1"
log = "0.4.27"
env_logger = "0.11.8"

[dependencies]
wgame-common.workspace = true
wgame-app = { version = "0.1.0", path = "wgame-app" }
wgame-utils = { version = "0.1.0", path = "wgame-utils" }
wgame-macros = { version = "0.1.0", path = "wgame-macros" }

[dev-dependencies]
futures = { workspace = true, default-features = true }
winit = { workspace = true, default-features = true }
wgpu = { workspace = true, default-features = true }
env_logger.workspace = true
bytemuck = "1.23.1"
glam = "0.30.4"
