[package]
name = "wgame"
version.workspace = true
edition.workspace = true
license.workspace = true

[features]
default = ["desktop"]
desktop = [
    "wgame-app/x11",
    "wgame-app/wayland",
    "wgame-gfx/vulkan",
    "wgame-gfx/gles",
]
web = ["wgame-app/web", "wgame-gfx/webgpu", "wgame-gfx/webgl"]

[dependencies]
wgame-app.workspace = true
wgame-gfx.workspace = true
wgame-utils.workspace = true
wgame-macros.workspace = true
anyhow.workspace = true

[dev-dependencies]
futures = { workspace = true, default-features = true }
winit = { workspace = true, default-features = true }
wgpu = { workspace = true, default-features = true }
env_logger.workspace = true
bytemuck.workspace = true
glam.workspace = true
rgb.workspace = true
