[package]
name = "wgame-app"
version.workspace = true
edition.workspace = true
license.workspace = true

[dependencies]
wgame-common.workspace = true
futures.workspace = true
winit.workspace = true
fxhash.workspace = true
log.workspace = true

[dev-dependencies]
futures = { workspace = true, default-features = true }
winit = { workspace = true, default-features = true }
env_logger.workspace = true
